*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100px;
    flex-direction: column;
}

/* Header */
.header {
    padding: 20px 25%;
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
/* content */
.main {
    display: flex;
    flex-direction: column;
    flex: 1;
}
/* hero */
.hero {
    padding: 20px 25%;
    display: flex;
    justify-content: space-between;
}

.right-hero,
.left-hero {
    width: 450px;
    min-height: 200px;
}
.right-hero {
    display: flex;
    background-color: gray;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.left-hero {
    padding-right: 40px;
}

.left-hero button{
    margin-top: 8px;
}

button {
    background-color: #3882F6;
    padding: 3px 16px;
    border-radius: 8px;
    color: #E5E7EB;
    border: none;
}

.hero,
.information,
.quote,
.cta {
    flex: 1;
}

.hero {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
}

.hero h1 {
    font-size: 48px;
    color: #F9FAF8;
}

/* information */
.information{
    padding: 16px;
    text-align: center;
}

.info{
    display: flex;
    flex-wrap: nowrap;  
    align-content: center;
    justify-content: center;

}

.square-info {
    width: 150px;
    padding: 16px;
}

.square{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 2px solid #3882F6;
    margin: 0 auto;
}
/* quote */
.quote {
    padding: 20px 25%;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote-text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

.quote-person {
    align-self: flex-end;
    font-weight: bold;
    font-size: 18px;
}
/* call to action */
.cta {

    border-radius: 8px;
    margin: 32px 25%;
    padding: 32px 50px;
    color: #E5E7EB;
    background-color: #3882F6;
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
}

.cta-button {
    border: 2px solid #E5E7EB;
}
/* footer */
.footer {
    color: #E5E7EB;
    padding: 20px;
    background-color: #1F2937;
    text-align: center;
}


